*{
    box-sizing: border-box;
}

#main-films{
    display: none;
    position: relative;
    padding-bottom: 60px;
    min-height: 120vh;
}

#films{
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6.66%;
}

.film-item{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 4%;
    margin: 15px 0;
    overflow: hidden;
    height: 350px;
}

.film-item img{
    width: 100%;
    transition: 0.3s;
    border-radius: 4%;
    object-fit: cover;
}

.film-item .title, .film-item .type{
    position: absolute;
    display: none;
}

.film-item .title{
    top: 45%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}


.film-item .type{
    top: 15%;
    color: #de110294;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    opacity: 0;
}

.film-item:hover{
    cursor: pointer;
}

.film-item:hover img{
    opacity: 0.20;
    transform: scale(1.1);
}

.film-item:hover  p{
    display: block;
    opacity: 1;
}

.film-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-film-order, #results{
    margin: 40px;
}

#details-film{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: 0.5s;
}

#details-film{
    align-items: center;
    justify-content: center;
}

.details-container{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #191a1d;
}


.header-detail{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.header-detail i{
    font-size: 2em;
    transition: 0.3s;
}

.header-detail i:hover{
    transform: scale(1.2);
    color: grey;
}

.main-detail{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 50vh;
    gap: 10%;
}

.main-detail>div{
    width: 50%;
}

.main-detail-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-detail-info p{
    margin: 0;
}

.loader {
    position: relative;
    margin: 50px;
    display: none;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }
  
  .jimu-primary-loading:before {
    left: -19.992px;
  }
  
  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #de1002;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }
  
  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  
  @-webkit-keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #de1002;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #de1002;
      height: 40px;
    }
  }
  
  @keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #de1002;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #de1002;
      height: 40px;
    }
  }

.header-film-order label{
    font-size: 2em;
    margin: 0 10px;
} 

.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 200px;
    height: 40px;
    background-color: #191a1d;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
      /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 7px;
    right: 20px;
    color: white;

  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 90px;
    height: 25px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #222;
    font-weight: 600;
    box-sizing: content-box;
  }
  
  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    background-color: #191a1d;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 108px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
  }

#table{
  width: 100%;
  padding: 5%;
  text-align: center;
}

#table td, #table tr{
  width: 100%;
}

.tableHeader{
  background-color: #de1002;
  font-weight: bold;
}
  