*{
    box-sizing: border-box;
}

#main-films{
    display: none;
    position: relative;
    padding-bottom: 60px;
}

#films{
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6.66%;
}

.film-item{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 4%;
    margin: 15px 0;
    overflow: hidden;
    height: 350px;
}

.film-item img{
    width: 100%;
    transition: 0.3s;
    border-radius: 4%;
    object-fit: cover;
}

.film-item .title, .film-item .type{
    position: absolute;
    display: none;
}

.film-item .title{
    top: 45%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}


.film-item .type{
    top: 15%;
    color: #de110294;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    opacity: 0;
}

.film-item:hover{
    cursor: pointer;
}

.film-item:hover img{
    opacity: 0.20;
    transform: scale(1.1);
}

.film-item:hover  p{
    display: block;
    opacity: 1;
}

.film-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-film-order, #results{
    margin: 40px;
}

#details-film{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: 0.5s;
}

#details-film{
    align-items: center;
    justify-content: center;
}

.details-container{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #191a1d;
}


.header-detail{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.header-detail i{
    font-size: 2em;
    transition: 0.3s;
}

.header-detail i:hover{
    transform: scale(1.2);
    color: grey;
}

.main-detail{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 50vh;
    gap: 10%;
}

.main-detail>div{
    width: 50%;
}

.main-detail-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-detail-info p{
    margin: 0;
}

.loader {
    position: relative;
    margin: 50px;
    display: none;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }
  
  .jimu-primary-loading:before {
    left: -19.992px;
  }
  
  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }
  
  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #de1002;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }
  
  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  
  @-webkit-keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #de1002;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #de1002;
      height: 40px;
    }
  }
  
  @keyframes loading-keys-app-loading {
  
    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #de1002;
      height: 32px;
    }
  
    40% {
      opacity: 1;
      box-shadow: 0 -8px #de1002;
      height: 40px;
    }
  }